/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding-bottom: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #5e84f6;
    color: #fff;
    margin-left: -10px;
    margin-right: -10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
}

.main-nav li {
    color: #fff;
    font-weight: bold;
}
.main-nav li :hover{
        text-decoration: underline;
        cursor: pointer;
        color: blue;

}

h1,h2 {
    font-weight: 400;
}

h1,
main {
    padding: 0 30px;
}
/* Estilos para el contenedor del buscador */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el formulario de búsqueda */
.search form {
    display: flex;
    width: 100%;
    max-width: 600px;
}

/* Estilos para el input */
.search input {
    flex: 1;
    padding: 12px 16px;
    border: 2px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

/* Efecto hover y foco en el input */
.search input:hover, 
.search input:focus {
    border-color: #007bff; /* Cambia el color del borde al hacer hover o enfocar */
    outline: none;
}

/* Estilos para el botón */
.search button {
    padding: 12px 16px;
    background-color: #007bff; /* Azul brillante */
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

/* Efecto hover en el botón */
.search button:hover {
    background-color: #0056b3; /* Azul oscuro */
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 600px) {
    .search {
        padding: 5px;
    }
    .search input, 
    .search button {
        font-size: 14px;
        padding: 10px;
    }
}


.card-container {
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.mostrar{
    display: block;
}
.ocultar{
    display: none;
}

/* footer */
footer {
    background-color: #dedede;
    text-align: center;
    padding: 40px 0;
    color: #666;
    
    width: 100%;
}