/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: #eee;
    padding-bottom: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #5e84f6;
    color: #fff;
    margin-left: -10px;
    margin-right: -10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav li,


.main-nav li:first-child {
    font-weight: bold;
    text-decoration: underline;
    color: #000;

}
.main-nav li :hover{
        text-decoration: underline;
        cursor: pointer;
        color: blue;

}

.user img {
    width: 30px;
    border-radius: 90%;
    margin-left: 10px;
}

h1,h2 {
    font-weight: 400;
}

h1,
main {
    padding: 0 30px;
}
div.search{
    align-items: center;
}

/* Characters Container */
.card-container {
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
/* Characters Card */
.mostrar{
    display: block;
}
.ocultar{
    display: none;
}

/* footer */
footer {
    background-color: #dedede;
    text-align: center;
    padding: 40px 0;
    color: #666;
    
    width: 100%;
}